<div class="maincontent">
  <article class="article">
    <h1 class="article-title">Experience Northern Lights in Kiruna</h1>
      <p>On more than one traveller’s list of things to do before you die, you’ll find ‘See the northern lights’ jotted down. Rightfully so – these lights are one of nature’s most jaw-dropping displays. Here are the best places to watch them in Sweden..</p>
      <p>Kiruna is unique. If you follow our latitude, 68° N, around the world, you’ll discover that it runs through uninhabited wilderness on much of the globe – Kiruna has quite an extraordinary geographical location. Here, 200 km north of the Arctic Circle, you will experience contrasts from Northern Lights to the midnight sun, the highest mountain in Sweden to the world's largest underground iron-ore mine, ancient Sámi culture to an ongoing city transformation. Welcome to Kiruna - come and share our everyday lives, which are far from ordinary.</p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">Get Busy!</h1>
    <p>If you want to keep up with what's going on with the group, <a href="http://www.meetup.com/">join our meetup group</a>, <a href="http://www.twitter.com/">follow us on twitter</a>. If you're in FaceBook, you can also <a href="http://www.facebook.com/">join our FaceBook group</a>.</p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">Why Kiruna ?</h1>
    <ul>
      <li>Once in a lift-time experience</li>
      <li>Special packages, include all adventural experiences</li>
      <li>Book your package with your friends & have a wonderful experience.</li>
    </ul>
  </article><!-- article -->
</div>
