<article class="sidebar">
  <h1 class="sidebar-title">Why Kiruna ?</h1>
  <ul class="sidebar-body">
   <li>Once in a lift-time experience</li>
      <li>Special packages, include all adventural experiences</li>
      <li>Book your package with your friends & have a wonderful experience.</li>
  </ul>
</article><!-- article -->
